$gray: rgb(150, 150, 150);
$white: #fff;

.box {
  height: 100vh;
  position: relative;
  background-image: url(./img/bg_your_name.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: bg-fadein 3s ease;

  @keyframes bg-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .todo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: todo-fadein 2s ease;

    @keyframes todo-fadein {
      from { 
        opacity: 0; 
        transform: translate(-50%, -45%);
      }
      to { 
        opacity: 1; 
        transform: translate(-50%, -50%);
      }
    }

    h1 {
      font-size: 64px;
      font-family: 'Nanum Myeongjo', serif;
      margin-left: 35px;
    }

    .sub {
      display: flex;
      justify-content: center;
      margin: 5px 0 25px 0;
      font-size: 14px;
      font-family: 'Nanum Myeongjo', serif;
    }

    .list {
      margin: 10px;
      display: flex;
      justify-content: center;

      input {
        width: 300px;
        border: 2px solid #{$gray};
        border-radius: 10px;
        font-size: 16px;
        padding: 10px;
        margin-right: 5px;
        &:focus {
          outline: none;
        }
      }
    }
    .add {
      border: 3px solid #{$gray};
      outline: none;
      background-color: #{$white};
      border-radius: 25px;
      span {
        display: block;
        color: #{$gray};
        font-weight: bold;
        padding: 5px 0;
      }
      &:hover {
        background-color: #{$gray};
        & span {
          color: #{$white};
        }
      }
    }
    
    ul {
      li {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-size: 24px;
        line-height: 1.3;
        .remove {
          border: 0;
          outline: none;
          background-color: transparent;
          font-weight: bold;
          color: #{$gray};
          &:hover {
            color: #{$white};
          }
        }
      }
    }
  }
}