.box {
  height: 100vh;
  position: relative;
  background-image: url(./img/bg_your_name.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: bg-fadein 3s ease;
}

@keyframes bg-fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.box > .todo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: todo-fadein 3s ease;

}

@keyframes todo-fadein {
  from { 
    opacity: 0; 
    transform: translate(-50%, -40%);
  }
  to { 
    opacity: 1; 
    transform: translate(-50%, -50%);
  }
}

.box > .todo > h1 {
  font-size: 64px;
  font-family: 'Nanum Myeongjo', serif;
  margin-left: 35px;
} 

.box > .todo > .sub {
  display: flex;
  justify-content: center;
  margin: 5px 0 25px 0;
  font-size: 14px;
  font-family: 'Nanum Myeongjo', serif;
}

.box > .todo > .list {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.box > .todo > .list > input {
  width: 300px;
  border: 2px solid rgb(150, 150, 150);
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  margin-right: 5px;
}

.box > .todo > .list > input:focus {
  outline: none;
}

.box > .todo > .list > button {
  border: 2px solid rgb(150, 150, 150);
  outline: none;
  background-color: #fff;
  border-radius: 20px;
}

.box > .todo > .list > button:hover {
  background-color: rgb(150, 150, 150);
}

.box > .todo > .list > button > span {
  display: block;
  color: rgb(150, 150, 150);
  font-weight: bold;
  padding: 5px 0;
}

.box > .todo > .list > button:hover > span {
  color: #fff;
}

.box > .todo > ul > li {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 24px;
  line-height: 1.2;
}

.box > .todo > ul > li > button {
  border: 0;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  color: rgb(80, 80, 80);
}

.box > .todo > ul > li > button:hover {
  color: #fff;
}